.ant-form .ant-form-item {
  .ant-input-number {
    width: 100%;
  }
  input,.ant-select {
    @apply h-12.5 bg-#1E2328 b-#374151 w-full;
  }
  .ant-select-selector,textarea{
    background:  transparent;
  }
}

.ant-form .file-content .ant-form-item {
  input,
  .ant-picker,
  .ant-select-selector,
  textarea {
    background-color: #000000;
  }
  margin-bottom: 1rem;
}

.ant-upload-wrapper{
  width: 100% !important;
  .ant-upload{
    width: 100% !important;
    >div>div{
      width: 100%;
    }
  }
}
