 .ant-form-item {
   .ant-input-number {
     width: 100%;
   }

   .ant-input-number-input,
   .ant-input,
   .ant-picker {
     @apply h-10.5 bg-transparent b-#30363D w-full;
   }

   .ant-input-number,
   textarea {
     background: transparent;
     @apply b-#30363D;
   }
 }

 .ant-form .ant-form-item .ant-select {
   @apply h-10.5 bg-transparent b-#30363D w-full;
   .ant-select-selector{
     background: transparent;
     @apply b-#30363D;
   }
 }